<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav">
                    <!-- <a class="details" [innerHTML]="'services' | translate | pipes"></a> -->
                    <h3 class="footer-row3">Our services</h3>
                    <li class="nav-item"><a class="nav-link" href="#"> Analysis & advice </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Payment follow-up </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Amicable collection </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Legal collection </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Customized collection </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Collection methodology </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Collection software </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <h3 class="footer-row3">Subscriptions</h3>
                    <li class="nav-item"><a class="nav-link" href="#"> Payment reminder </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> No Cure, No Pay collection</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Premium direct debit </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Professional debt collection </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Customized debt collection </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Calculation example </a></li>
                    <li class="nav-item"><a class="nav-link" href="#"> Trade information </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <h3 class="footer-row3">Several</h3>
                    <li class="nav-item"><a class="nav-link" href="#">Privacy Statement </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Sitemap </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog </a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Disclaimer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <h3 class="footer-row3">CrediPay</h3>
                    <p class="nav-link">Blarenberglaan 4</p>
                    <p class="nav-link">2800 Mechelen</p><br>
                    <p class="nav-link">Tel.: +32(0)15.690.390</p>
                    <p class="nav-link">Fax: : +32(0)15.714.220</p><br>
                    <p class="nav-link" style="font-weight: 600;">info&#64;credisolv.be</p>
                </ul>
            </div>
        </div>
    </div>
</footer>