<div class="wrapper">
    <div class="btn_back" (click)="back()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>  Back
    </div>
    <div class="card">
        <div class="card-body"><br>
            <div style="overflow-x:auto;">
                <table class="table table-hover table-bold0">
                    <thead>
                        <tr>
                            <th scope="col">{{'Dossier'|translate}}</th>
                            <th scope="col">{{'Invoice Reference'|translate}}</th>
                            <th scope="col">{{'Invoice Date'|translate}}</th>
                            <th scope="col">{{'Principal Sum'|translate}}</th>
                            <th scope="col">{{'Interest'|translate}}</th>
                            <th scope="col">{{'Interests Damages Clause'|translate}}</th>
                            <th scope="col">{{'Collection costs'|translate}}</th>
                            <th scope="col">{{'Total'|translate}}</th>
                            <th scope="col">{{'Payments made'|translate}}</th>
                            <th scope="col">{{'Pay'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(dossierDetails.length > 0) { @for(details of dossierDetails;track details) {
                        <tr>
                            <td>{{details.Dossier}}</td>
                            <td>{{details.Invoice_Reference}}</td>
                            <td>{{details.Date_decheance}}</td>
                            <td>{{details.Somme_principle}}</td>
                            <td>{{details.Interest}}</td>
                            <td>{{details.Interests_damages_clause}}</td>
                            <td>{{details.Collection_costs}}</td>
                            <td>{{details.Total}}</td>
                            <td>{{details.Payments_made}}</td>
                            <td>{{details.Pay}}</td>
                        </tr>
                        } } @else {
                        <tr>
                            <td colspan="3" style="text-align: center;">{{'No data found!!!'|translate}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <br><br>
                <table class="table table-hover table-bold">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{'Principal Sum'|translate}}</th>
                            <th scope="col">{{'Interest'|translate}}</th>
                            <th scope="col">{{'Interests Damages Clause'|translate}}</th>
                            <th scope="col">{{'Collection costs'|translate}}</th>
                            <th scope="col">{{'Total'|translate}}</th>
                            <th scope="col">{{'Payments made'|translate}}</th>
                            <th scope="col">{{'Pay'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(details of dossierTotalDetails;track details) {
                        <tr>
                            <td>{{details.Dossier | translate}}</td>
                            <td>{{details.Somme_principle}}</td>
                            <td>{{details.Interest}}</td>
                            <td>{{details.Interests_damages_clause}}</td>
                            <td>{{details.Collection_costs}}</td>
                            <td>{{details.Total}}</td>
                            <td>{{details.Payments_made}}</td>
                            <td>{{details.Pay}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                @if(Outstanding_Balance != '€ 0.00'){
                <div class="col-10 modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onFullPay('popup')">{{'Pay in full'|translate}}</button>
                    <button class="btn btn-primary" type="button" (click)="paymentPlan()">{{'Choose Payment Plan'|translate}}</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#havequestions">{{'do_you_have_any_question'|translate}}</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header custom_modal_header">

                <a class="navbar-brand" placement="bottom">
                    <span class="credi"> {{'credi' | translate}}</span>
                    <span class="solve">{{'Pay' | translate}}</span>
                </a>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="color: green;font-weight: 600;text-align: center;">{{'Dossier'|translate}} : {{dossier_number}}
                </p>
                <p style="font-size: 15px;font-weight: 600; text-align: center;">{{'Outstanding balance'|translate}} : {{Outstanding_Balance}}
                </p>
               
            </div>
            <div class="col-12 modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Close'|translate}}</button>
                <!-- <button type="button" class="btn btn-primary" (click)="makePayment()">{{'Make the payment online'|translate}}</button> -->
                <a [href]="payment_link" class="payButtonLink">
                    <img [src]="paymentbutton_link" alt="PAY" class="payButtonImage">
                </a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="havequestions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header custom_modal_header">
                
                
                <a class="navbar-brand" placement="bottom">
                    <span class="credi"> {{'credi' | translate}}</span>
                    <span class="solve">{{'Pay' | translate}}</span>
                </a>

              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>
                    <b>
                        {{'Do_you_have_any_questions_from_the_Below'|translate}}
                    </b>
                </h4>
                <div>
                    
                    <label>
                      <input type="radio" name="options" value="disagree" [(ngModel)]="selectedOption" aria-selected="true">
                         &nbsp; {{'Disagree_Dispute'|translate}}
                    </label>
                    <br>
                    <label>
                      <input type="radio" name="options" value="alreadypaid" [(ngModel)]="selectedOption">
                      &nbsp; {{'Already_paid'|translate}}
                    </label>
                    <br>
                    <label>
                      <input type="radio" name="options" value="deceased" [(ngModel)]="selectedOption">
                      &nbsp; {{'Debtor_deceased'|translate}} 
                    </label>

                    <br>
                    <label>
                      <input type="radio" name="options" value="copyinvoice" [(ngModel)]="selectedOption">
                      &nbsp; {{'Copy_Invoice'|translate}} 
                    </label>
                  </div>
                  
                  <!-- <p>You selected: {{ selectedOption }}</p> -->
                  
            </div>
            <div class="col-12 modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Close'|translate}}</button> @if (selectedOption=='disagree') {<button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="nav()">{{'Submit'|translate}}</button>}
                @else if(selectedOption == 'alreadypaid'){
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="nav()">{{'Submit'|translate}}</button> } @else if (selectedOption == 'deceased') {<button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="nav()">{{'Submit'|translate}}</button>}

            </div>
        </div>
    </div>
</div>

