<div class="wrapper">
    <div class="mx-auto">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="paymentForm">
                    <!-- {{this.errmessage}} -->
                    @if (errmessage.length !=0) {
                    <!-- <alert type="warning" [dismissible]="dismissible" [isOpen]="open" [dismissOnTimeout]="timeout"> -->
                    <alert type="warning" [dismissible]="dismissible" [isOpen]="open">
                        <strong>{{this.errmessage}}</strong>
                    </alert>
                    }
                    <!-- <h2 style="color: black;">Payment Plan</h2> -->
                    <div class="card-header">
                        <h4 class="card-title rounded">{{'Choose_your_own_payment_plan'| translate}} (€ {{amount}}) </h4>
                    </div>
                    <div class="container mt-4">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="mb-1">
                                    {{'How_much_would_you_like_to_pay_per_month_in_euros' | translate}} <input type="number" min="0" class="form-control" formControlName="monthly_amount">

                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-end justify-content-center">
                                <div class="mb-1 align-bottom"><button type="button" (click)="getpaymentplan()" class="btn btn-primary">{{'Submit'| translate}}</button></div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="mb-1">
                                    repayment amount <input type="number" min="0" class="form-control"
                                        formControlName="monthly_amount" (ngModelChange)="getpaymentplan()">
                                </div>
                            </div> -->
                            @if(paymentplan){
                            <div class="col-md-6">
                                <div class="mb-1">
                                    {{'Total_Months' | translate}} <input type="number" readonly min="0" class="form-control" formControlName="totalmonths">
                                </div>
                                <div class="mb-1">
                                    {{'Remaining_amount_for_another_month' | translate}}
                                    <input type="number" readonly min="0" formControlName="remainingamount" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-6  d-flex align-items-end justify-content-center">
                                <div class="mb-1 "><button type="button" (click)="enablepaymentplan()" class="btn btn-primary"> {{'Click_to_proceed_with_this_plan' | translate}}</button></div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-1" *ngIf="this.paymentForm.controls['totalmonths'].value!='' &&
                                this.paymentForm.controls['totalmonths'].value!=null && enablepayment&&
                                this.paymentForm.controls['remainingamount'].value!=null">
                                    <span>{{'Select_payment_date' | translate}}</span><input type="date" placeholder="yyyy-mm-dd" formControlName="paymentDate" class="form-control" [min]="minDate" [max]="maxDate" (change)="enablefinalsubmit()">

                                </div>
                                <div class="invalid-feedback">
                                    <div *ngIf="paymentForm.controls['paymentDate'].errors">{{'Payment_date_is_required' | translate}}
                                    </div>
                                </div>
                            </div>
                            }
                        </div>

                    </div>
                </form>
                <div class="col-12 modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Close'}}</button> -->
                    <button type="button" class="btn btn-primary" *ngIf="finalsubmit" data-bs-toggle="modal" data-bs-target="#paymentconfirmed">{{'Submit'| translate}}</button>
                </div>
            </div>



        </div>
    </div>
</div>




<div class="modal fade" id="paymentconfirmed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">
                    <b>{{'Please_reconfirm_the_details_of_the_payment_plan'| translate}}</b>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="paymentForm">
                    <table class="w-100">
                        <tbody>
                            <tr>
                                <th>{{'Payment_Months'| translate}}</th>
                                <td>
                                    <input type="date" class="form-control float-right" formControlName="dateOfBirth" required>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <th>{{'Monthly_payment_amount'| translate}}</th>
                                <td>
                                    <input type="number" class="form-control float-right" formControlName="amount" min="0" required>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <th>{{'IBAN_From_which_account_did_you_pay'| translate}}</th>
                                <td>
                                    <input type="text" class="form-control float-right" formControlName="ibanFrom" required>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <th>{{'IBAN_To_which_account_did_you_transfer'| translate}}</th>
                                <td>
                                    <input type="text" class="form-control float-right" formControlName="ibanTo" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-12 modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Cancel'| translate}}</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{'Submit'| translate}}</button>
            </div>
        </div>
    </div>
</div>