<div class="wrapper">
    <div class="card">
        <div class="card-body"><br>
            <!-- <img class="imagesss" src="../../../assets/img/credipay-payment-logo.png"/><br><br><br><br> -->
            <p class="text-value">{{'dossier_details_content_1'|translate}}</p>
            <p class="text-value">{{'dossier_details_content_2'|translate}}</p>

            <p class="text-value">{{'dossier_details_content_3'|translate}}</p>
            <br>
            <p class="text-file">{{'Available file(s)'|translate}}: {{dossierData.length}}</p>
            <p class="text-value">{{'click on each reference to see the detail'|translate}}</p><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{{'Reference'|translate}}</th>
                        <th scope="col">{{'Creditor'|translate}}</th>
                        <th scope="col">{{'Outstanding Balance'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    @if(dossierData.length > 0) { @for(details of dossierData;track details) {
                    <tr>
                        <!-- <td [routerLink]='["/dossiers",details.Referentie]'>{{details.Referentie}}</td>   href="/dossiers/{{details.Referentie}}"-->
                        <td>
                            <a (click)="nav(details.id)" [routerLink]="['/dossier-details/facturen/',details?.id]" class="link">{{details?.id}}</a>
                        </td>
                        <td>{{details?.firmanaam}}</td>
                        <td>{{details?.openstaandbedrag}}</td>
                    </tr>
                    } } @else {
                    <tr>
                        <td colspan="3" style="text-align: center;">{{'no_data_found'|translate}}</td>
                    </tr>
                    }
                </tbody>
            </table>
            <p class="text-total">{{'total_outstanding_balance'|translate}}{{Outstanding_Balance}}</p><br>
        </div>
    </div>
</div>