<div class="wrapper">
    <div class="card">
        @if(value=="disagree"){
        <div class="card-body"><br>
            <div class="card-header">
                <h4 class="card-title ">{{'do_you_have_any_question'|translate}} - {{'Disagree_Dispute' | translate}}</h4>
            </div><br>
            <div style="overflow-x:auto;">
                <form novalidate>
                    <!-- Gender -->
                    <div class="col-12">
                        <div class="col-md-10 ">
                            <h4 class="mb-3">{{ 'Disagree_Dispute_Qustion_1' | translate }}</h4>
                            <div class="custom-control custom-radio">
                                <input id="Yes" type="radio" value="Yes" name="invoice" [(ngModel)]="selectedOption" required>&nbsp;
                                <label class="custom-control-label" for="Yes">{{'Yes'|translate}}</label>&nbsp;
                                <input id="No" type="radio" value="No" [(ngModel)]="selectedOption" name="invoice" ngModel required>&nbsp;
                                <label class="custom-control-label" for="No">{{'No'|translate}}</label>
                                <!-- <div class="invalid-feedback" *ngIf="isSubmitted && myForm.invalid">
                                <p>Please select either value</p>
                            </div> -->
                            </div><br>
                        </div>
                        @if(selectedOption=='Yes'){
                        <div class="col-md-10 ">
                            <h4 class="mb-3">{{ 'Disagree_Dispute_Qustion_2' | translate: { client_name: this.client_name } }}</h4>
                            <div class="custom-control custom-radio">
                                <input id="disagreementYes" type="radio" value="disagreementYes" name="disagreement" [(ngModel)]="disagreement" required>&nbsp;
                                <label class="custom-control-label" for="disagreementYes">{{'Yes'|translate}}</label>&nbsp;
                                <input id="disagreementNo" type="radio" value="disagreementNo" [(ngModel)]="disagreement" name="disagreement" ngModel required>&nbsp;
                                <label class="custom-control-label" for="disagreementNo">{{'No'|translate}}</label>
                            </div>
                        </div><br> } @if(selectedOption=='Yes'&& disagreement=='disagreementYes'){
                        <div class="col-md-10 " [formGroup]="credisolvform">
                            <h4 class="mb-3">{{ 'Disagree_Dispute_Qustion_3' | translate: { client_name: this.client_name } }}</h4>
                            <div class="custom-control custom-radio">
                                <input type="file" name="disputeletter" title="Choose a video please" (change)="uploadfiles($event,'disagrementletter')" required>&nbsp;
                            </div>
                        </div><br> } @if (selectedOption=='Yes'&& disagreement=='disagreementNo') {
                        <div class="col-md-10 ">
                            <h4 class="mb-3">{{ 'Disagree_Dispute_Qustion_4' | translate: { client_name: this.client_name } }}</h4>
                            <div class="custom-control custom-radio">
                                <input id="confirmdisagreementYes" type="radio" value="confirmdisagreementYes" name="confirmdisagreement" [(ngModel)]="confirmdisagreement" required>&nbsp;
                                <label class="custom-control-label" for="confirmdisagreementYes">{{'Yes'|translate}}</label>&nbsp;&nbsp;
                                <input id="confirmdisagreementNo" type="radio" value="confirmdisagreementNo" [(ngModel)]="confirmdisagreement" name="confirmdisagreement" ngModel required>&nbsp;
                                <label class="custom-control-label" for="confirmdisagreementNo">{{'No'|translate}}</label>
                            </div>
                        </div><br> } @if (selectedOption=='Yes'&& disagreement=='disagreementNo'&& confirmdisagreement=='confirmdisagreementYes') {
                        <div class="col-md-10 " [formGroup]="credisolvform">
                            <h4 class="mb-3">{{ 'Please_upload_the_copy_of_the_letter' | translate}}</h4>
                            <div class="custom-control custom-radio">
                                <input type="file" name="disputeletter" title="Choose a video please" formControlName="file" (change)="uploadfiles($event,'disputeletter')" required>&nbsp;
                            </div>
                        </div><br> } @if (selectedOption=='Yes'&& disagreement=='disagreementNo'&&confirmdisagreement=='confirmdisagreementNo') {
                        <div class="col-md-10 ">
                            <div class="card inner">
                                <h4 class="mb-3">{{ 'Disagree_Dispute_Qustion_5' | translate: { client_name: this.client_name } }}</h4>
                            </div>
                        </div><br> }
                    </div>
                    @if (confirmdisagreement=='confirmdisagreementYes'||confirmdisagreement=='confirmdisagreementNo'||(selectedOption=='Yes'&& disagreement=='disagreementYes')) {
                    <button type="submit" class="btn btn-primary" (click)="submit('disagree')">{{'Submit' | translate}}</button><br>}

                </form>

            </div>
        </div>} @if(value=="alreadypaid"){
        <div class="card-body"><br>
            <div class="card-header">
                <h4 class="card-title ">{{'do_you_have_any_question'|translate}} - {{'Already_paid' | translate}}</h4>
            </div><br>
            <div style="overflow-x:auto;">
                <form novalidate>
                    <!-- Gender -->
                    <div class="col-8 row">
                        <div class="row">
                            <label class="col-sm-6 col-form-label">{{'Whom_did_you_pay_to'|translate}}</label>
                            <div class="col-sm-6 d-flex justify-content-end d-flex align-items-center">
                                <input id="Yes" type="radio" value="Yes" name="paid" [(ngModel)]="selectedOption" required>&nbsp;
                                <label class="custom-control-label" for="Yes">Credisolv</label>&nbsp;&nbsp;
                                <input id="No" type="radio" value="No" [(ngModel)]="selectedOption" name="paid" ngModel required>&nbsp;
                                <label class="custom-control-label" for="No">Client</label>
                                <!-- <div class="invalid-feedback" *ngIf="isSubmitted && myForm.invalid">
                                <p>Please select either value</p>
                            </div> -->
                            </div><br>
                        </div>
                        @if(selectedOption=='Yes'){
                        <div class="body">
                            <form [formGroup]="credisolvform">
                                <table>
                                    <!-- <thead> -->
                                    <h4 class="row" style="color: black;margin-left: -45px;" id="">
                                        {{'Please_provide_the_below_details'|translate}}
                                    </h4>
                                    <!-- </thead>
                                    <tbody> -->
                                    <tr>
                                        <th>{{'Date_of_Birth'|translate}}</th>
                                        <td>
                                            <input type="date" class="form-control" formControlName="dateOfBirth">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{'Amount_in_Euros'|translate}}</th>
                                        <td>
                                            <input type="number" class="form-control" formControlName="amount" min="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{'IBAN_From_which_account_did_you_pay'|translate}}</th>
                                        <td>
                                            <input type="text" class="form-control" formControlName="ibanFrom">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{'IBAN_To_which_account_did_you_transfer'|translate}}</th>
                                        <td>
                                            <input type="text" class="form-control" formControlName="ibanTo">
                                        </td>
                                    </tr>
                                    <!-- </tbody> -->
                                </table>
                            </form>

                        </div><br> } @if(selectedOption=='No'){
                        <div class="col-md-10 ">
                            <div class="card inner">
                                <h4 class="mb-3">{{'Alreadypaid_form_banner' | translate: { client_name: this.client_name } }}</h4>
                            </div>
                        </div>
                        }
                    </div>
                    @if (selectedOption=='Yes'|| selectedOption=='No') {<button type="submit" class="btn btn-primary" (click)="submit('alreadypaid')">{{'Submit' | translate}}</button><br>}

                </form>

            </div>
        </div>} @if(value=="deceased"){
        <div class="card-body"><br>
            <div class="card-header">
                <h4 class="card-title ">{{'do_you_have_any_question'|translate}} - {{'Debtor_deceased' | translate}}</h4>
            </div><br>
            <div style="overflow-x:auto;">
                <form novalidate>
                    <!-- Gender -->
                    <div class="col-12">
                        <div class="col-md-10 ">
                            <h4 class="mb-3">{{'Do_you_want_to_report_death'|translate}}</h4>
                            <div class="custom-control custom-radio">
                                <input id="Yes" type="radio" value="Yes" name="deceased" [(ngModel)]="selectedOption" required>&nbsp;
                                <label class="custom-control-label" for="Yes">{{'Yes' | translate}}</label>&nbsp;
                                <input id="No" type="radio" value="No" [(ngModel)]="selectedOption" name="deceased" ngModel required>&nbsp;
                                <label class="custom-control-label" for="No">{{'No'| translate}}</label>
                                <!-- <div class="invalid-feedback" *ngIf="isSubmitted && myForm.invalid">
                                <p>Please select either value</p>
                            </div> -->
                            </div><br>
                        </div>
                        @if(selectedOption=='Yes'){
                        <div class="col-md-10 " [formGroup]="credisolvform">
                            <h4 class="mb-3">
                                {{'Kindly_upload_the_death_certificate_below'|translate}}
                            </h4>
                            <div class="custom-control custom-radio">
                                <input type="file" name="deathcertificate" formControlName="file" accept=".pdf" (change)="uploadfiles($event,'deathcertificate')">&nbsp;
                            </div>
                        </div><br> } @if(selectedOption=='No'){
                        <div class="col-md-10 ">
                            <div class="card inner">
                                <h4 class="mb-3">{{'Debtor_deceased_form_banner'| translate}}</h4>
                            </div>
                        </div>
                        }
                    </div>
                    @if (selectedOption==='No'||selectedOption=='Yes') {<button type="submit" class="btn btn-primary" (click)="submit('deathcertificate')" [disabled]="">{{'Submit'| translate}}</button><br>}

                </form>

            </div>
        </div>}
    </div>
</div>