form{
    color: black;
    padding: 30px;
}

.custom-control-label {
    color: #070000;
    margin-top: 5px;
    font-size: 17px;
}

h4{
    color: #070000;
}

.card {
    width: 60%;
    padding: 30px;
    margin: 10px;
    background-color: #FFF;
    color: black !important;
    border-radius: 1.2857rem;
    box-shadow: 0 0px 30px 14px rgba(0, 0, 0, 0.2) !important;
}

.selected-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control{
    color: black !important;
}

table tr{
    margin: 10px;
}