


<div class="container">


    <div class="">
        <div class="card-block">
            <div> @if (message) {
               
                <alert type="warning"  [isOpen]="open">
                    <strong>{{this.message | translate}}</strong>
                </alert>                   
                }
                <form class="col" [formGroup]="loginForm" autocomplete="off" #ngForm="ngForm">
                    <div class="">
                        <label for="validationDefaultDossiersID" class="form-label">{{'Dossiers ID' | translate}}</label>
                        <div class="input-group">
                            <!-- <span class="input-group-text" id="inputGroupPrepend2">&#64;</span> icon-pencil-->
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="tim-icons icon-pencil"></i></span>
                            <input type="text" class="form-control" id="validationDefaultDossiersID" autocomplete="off"
                                formControlName="dossier_id" aria-describedby="inputGroupPrepend2" style="color: black;"
                                [ngClass]="{ 'is-invalid': ngForm.submitted && loginForm.controls['dossier_id'].errors }">
                            <div *ngIf="ngForm.submitted && loginForm.controls['dossier_id'].errors" class="invalid-feedback">
                                <div *ngIf="loginForm.controls['dossier_id'].errors.required">{{'Dossiers ID is required' | translate}}</div>
                                <div *ngIf="loginForm.controls['dossier_id'].errors.pattern">{{'Dossiers ID only numberic' | translate}}c</div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label for="validationDefault03" class="form-label">{{'Password' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="tim-icons icon-key-25"></i></span>
                            <input type="password" class="form-control" id="validationDefault03"
                                style="color: black;" formControlName="password" aria-describedby="inputGroupPrepend2"
                                [ngClass]="{ 'is-invalid': ngForm.submitted && loginForm.controls['password'].errors }">

                            <div *ngIf="ngForm.submitted && loginForm.controls['password'].errors" class="invalid-feedback">
                                <div *ngIf="loginForm.controls['password'].errors.required">{{'Password is required' | translate}}</div>
                                <div *ngIf="loginForm.controls['password'].errors.minlength">
                                    {{'Password must be at least 6 characters' | translate}}
                                </div>
                                <div *ngIf="loginForm.controls['password'].errors.maxlength">
                                    {{'Password must not exceed 40 characters' | translate}} 
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" #closebutton data-bs-dismiss="modal"
                            (click)="close()">{{'Close' | translate}}</button>
                        <button type="button" class="btn btn-primary"
                            (click)="onSubmit()">{{'Submit' | translate}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</div>