form{
    color: black;
    padding: 30px;
}

.custom-control-label {
    color: #070000;
    margin-top: 5px;
    font-size: 17px;
}

h4{
    color: #070000;
}

.card {
    width: 60%;
    padding: 30px;
    margin: 10px;
    background-color: #FFF;
    color: black !important;
    border-radius: 1.2857rem;
    box-shadow: 0 0px 30px 14px rgba(0, 0, 0, 0.2) !important;
}

.selected-item{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control{
    color: black !important;
}

table tr{
    margin: 10px;
}


.tbl_info_data{

    .table {
        color: #0c0101;

    }

    .table-bold0 {
        font-weight: 500 !important;
    }

    .table>thead>tr>th {
        /* background-color: #ce0405; */
        background-color: #070000;
        color: rgb(249, 246, 246);
        font-size: 12px;
        text-transform: none;
    }

    .table>tbody>tr>td {
        border-color: #ce0405;
    }

    table.my-table>tbody>tr>td {
        color: rgb(18, 1, 1);
        font-size: 9px;
    }

    /* a {
        color: #0430ce;
        font-weight: 300;
    } */


    .custom-header {
        background-color: #ce0405;
        color: rgb(18, 1, 1);
        font-size: 9px;
    }


    .link {
        color: blue;
        /* Change the color to your desired color */
        text-decoration: underline;
        /* Add underline style */
        /* font-weight: 300; */
        font-size: 9px;
    }

    .link:hover {
        color: darkblue;
        /* Change the color when hovering over the link */
    }
}