<div class="wrapper m-3">
        <div class="card mx-auto">
            <div class="card-header">
                <h3 class="card-title">{{'Choose_your_own_payment_plan'| translate}} (€ {{total_pay}}) </h3>
                
            </div>
            <div class="card-body">
                @if (errmessage.length !=0) {
                   
                    <alert type="warning" [isOpen]="errmessage.length > 0">
                        <strong>{{this.errmessage}}</strong>
                    </alert>
                    }
                <form [formGroup]="paymentForm" #ngForm="ngForm" >
                    <div class="row">
                            <div class="col-md-6">
                                {{'How_much_would_you_like_to_pay_per_month_in_euros' | translate}} 
                                <input type="number" min="0" class="form-control" formControlName="monthly_amount">

                            </div>
                            <div class="col-md-6 text-center p-2">
                                @if(!is_eligible_plan){
                                    <button type="button" (click)="getpaymentplan()" class="btn btn-primary mx-auto">{{'Check'| translate}}</button>
                                }
                                
                            </div>
                    </div>
                    @if(is_eligible_plan){
                        <br>
                        <div class="row text-center">
                            <div class="col-md-8 text-center card m-3 p-5 mx-auto card_success_message_view">
                                <span class="p_final_message" [innerHTML]="final_confirm_message"></span>
                            </div>
                        </div>
                        <br>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                {{'Total_Months' | translate}} <br>
                                <input type="number" readonly min="0" class="form-control" formControlName="totalmonths">
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{'Remaining_amount_for_another_month' | translate}} <br>
                                <input type="number" readonly min="0" formControlName="remainingamount" class="form-control">
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <span>{{'Select_payment_date' | translate}} <br>
                                </span><input type="date" placeholder="YYYY-MM-DD" formControlName="paymentDate" class="form-control" [min]="minDate" [max]="maxDate" 
                                [ngClass]="{ 'is-invalid':  ngForm.submitted  && paymentForm.controls['paymentDate'].errors }">
                                
                            </div>
                        </div>
                        <br>
                       
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" (click)="cancelplan()" class="btn btn-secondary float-left">{{'Cancel'| translate}}</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" (click)="submitplan()" class="btn btn-primary float-right">{{'Submit'| translate}}</button>
                            </div>
                        </div>
                    }

                   
                </form>
            </div>
        </div>
</div>